{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

    <!-- Hoja de estilos para encuentranos -->
	<link type="text/css" media="all" href="{% static "css/encuentranos.css" %}" rel="stylesheet" />
  <script type="text/javascript" src="http://gettopup.com/releases/latest/top_up-min.js"></script>
  <!--<script type="text/javascript" src="/Web/static/js/pop-up/javascripts/jquery/all.js"></script>
  <script type="text/javascript" src="/Web/static/js/pop-up/javascripts/top_up-min.js"></script>-->

    <!-- Script de google maps -->
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDazlqr1uLWokKKOX79qHbohHjP9LdpkuU&sensor=false">
  </script>


{% endblock %}

{% block content %}
  
  <script type="text/javascript">

    /* Script para cambiar seleccion en el menu principal */
  $(document).ready(function(){
    $('li.active').removeClass('active').children().addClass('sinSeleccionar');
    $('li.encuentranos').addClass('active').children.removeClass('sinSeleccionar');
  });

  </script>

  <script type="text/javascript">

  /* Script para crear mapa de google maps */
      function initialize() {
          /* latitud y longitud del mapa */
        var myLatlng = new google.maps.LatLng({{cliente.c_latitud}},{{cliente.c_longitud}});
          /* Opciones del mapa */
        var mapOptions = {
          center: myLatlng,
          zoom: 15
        };
          /* Declaracion del mapa y asignacion al DOM */
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
          /* Declaracion de marker en el mapa */
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map
        });
      }
        /* Inicializacion del mapa */
      google.maps.event.addDomListener(window, 'load', initialize);

  </script>
    <!-- Contenedor y fondo de info del local -->
  <div class="local-fondo">
      <!-- Nombre del local -->
    <div class="titulo-local"><center>{{cliente.c_nombre}}</center>
    </div>
      <!-- Contenedor de mapa e info -->
    <div class="row container">
      <!-- Contenedor de mapa -->
    <div id="map-canvas" class="col-md-6">

    </div>
      <!-- Contenedor info y fotos -->
    <div class="local-info col-md-5">
        <!-- Contenedor de info -->
      <div>
          <!-- Tabla con info del local -->
      <table class="local_datos">
        <tbody>
            <tr class="parrafo">
              <td class ="key">
                <label>Direccion:</label>
              </td>
              <td class ="value">
                <div><p>{{cliente.c_direccion}}</p></div>
              </td>
            </tr>
            <tr>
              <td class ="key">
                <label>Telefono:</label>
              </td>
              <td class ="value">
                <label>{{cliente.c_tlf_local}}</label>
              </td>
            </tr>
            <tr>
              <td class ="key">
                <label>Correo:</label>
              </td>
              <td class ="value">
                <label>{{cliente.c_correo}}</label>
              </td>
            </tr>
            <tr class="parrafo">
              <td class ="key">
                <label>Horario:</label>
              </td>
              <td class ="value">
                <label></label>
              </td>
            </tr>
        </tbody>
        </table>
        </div>
          <!-- Imagenes del local -->
        <div class="imagenes">

          <div class="segunda-foto">
            <img class="foto" src="{% static "Images/aji.jpg" %}">
          </div>


      </script>

        </div>
    </div>

    </div>

    


  </div>



{% endblock %}