{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

    <!-- Hoja de estilos para contacto -->
	<link type="text/css" media="all" href="{% static "css/contacto.css" %}" rel="stylesheet" />

{% endblock %}

{% block content %}

  <script type="text/javascript">

  /* Script para cambiar seleccion en el menu principal */
  
  $(document).ready(function(){
    $('li.active').removeClass('active').children().addClass('sinSeleccionar');
    $('li.eventos').addClass('active').children.removeClass('sinSeleccionar');
  });

  </script>

  <!-- Fondo de la informacion de contacto -->
  <div class="fondo-contacto">

    <p class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</p>

  </div>


{% endblock %}